body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Вертикальное распределение элементов */
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Высота контейнера - весь экран */
    padding: 10px;
}

/* Для заголовка */
.combined {
    display: flex;
    flex-direction: row; /* Вертикальное выравнивание */
    align-items: center;
    margin-bottom: 20px;
}

/* Для каждой строки с кнопками */


.row {
    display: flex;
    flex-direction: row;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    gap: 20px; /* Расстояние между элементами */
    margin-top: 10px;
}

/* Настройки для изображения */
#generation img {
    margin-right: 5px;
}
/* Левая часть для визуализации */
.left {
    width: 48%; /* Ширина 48% от контейнера */
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по горизонтали */
}

/* Правая часть для вывода данных */
.right {
    width: 48%; /* Ширина 48% от контейнера */
    background-color: whitesmoke;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

h1, h2 {
    margin: 0;
}

/* Стили для кнопки */
input[type="file"] {
    margin-top: 20px;
}

/* Обёртка для canvas */
.canvas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Добавим небольшой отступ между блоками */
.container > div:not(.combined) {
    margin-top: 10px; /* Отступ сверху между блоками */
}

/* Убираем дополнительный отступ справа для правой части */
.right {
    margin-left: 2%; /* Небольшой отступ с левой стороны */
}

.button-label {
    display: inline-flex;
    /*display: inline-flex;*/
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000000;
    /*font-size: 16px;*/
    text-align: center;
    align-items: center;
}


.button-label:hover {
    background-color: #45a049;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}



/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* Размещаем блоки .left и .right вертикально */
    .left, .right {
        width: 90%;
        margin-bottom: 10px;
    }

    /* Уменьшаем ширину и отступы для кнопок */
    .upload-label {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }

    /* Канвас будет занимать всю ширину */
    #canvas {
        width: 100%;
        height: auto;
    }

    /* Для блока с кнопками: заголовок и кнопки должны быть на своём месте */
    .combined {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Для блока с данными (Data) после кнопок */
    .right {
        order: 2;
        width: 90%; /* Для правильного отображения на мобильных устройствах */
    }

    /* Модификация label, input и button в блоке .combined */
    .combined label,
    .combined input,
    .combined button {
        width: 90%;
    }

    /* Для расположения блоков визуализации и данных вертикально */
    .container > div:not(.combined) {
        display: flex;
        flex-direction: column;
    }
}


