<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body style="background-color: whitesmoke">
<div class="container">
    <!-- Заголовок -->
    <div class="combined">
        <h1>School21 Maze project</h1>
    </div>

    <!-- Контейнер для визуализации и данных -->
    <div style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;">
        <!-- Левая часть для визуализации -->
        <div class="left">
            <h2>Visualization</h2>
            <canvas id="canvas" width="500" height="500" style="border: 2px solid black"></canvas>
        </div>

        <!-- Правая часть для вывода данных -->
        <div class="right">
            <h2>Data</h2>
            <pre id="dataOutput" class="json-output"></pre>
        </div>
    </div>


    <div class="combined">
        <label for="uploadButton" class="upload-label">Загрузить с диска</label>
        <input type="file" id="uploadButton" accept=".txt,.json" style="display: none;">

        <label for="generateButton" class="upload-label">Сгенерировать</label>
        <button id="generateButton" class="upload-label" style="display: none">Сгенерировать</button>

        <label for="uploadButton" class="upload-label">Сохранить на диск</label>
    </div>
</div>

    <script src="/js/maze.js"></script>
</body>
</html>